{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-warning mb-5 border-bottom">SERVICES</h2>
     <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color"> my name is mansi patel. i m from india. my age is 21 year. </p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>WEB DESIGN</h3>
            <p class="ss-color"> my name is mansi patel. i m from india. my age is 21 year. </p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>WEB DEVLOPMENT</h3>
            <p class="ss-color"> my name is mansi patel. i m from india. my age is 21 year. </p>
        </div>

     </div>



     <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
            <h3>ANDROID</h3>
            <p class="ss-color"> my name is mansi patel. i m from india. my age is 21 year. </p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
            <h3>IOS</h3>
            <p class="ss-color"> my name is mansi patel. i m from india. my age is 21 year. </p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-rectangle-ad fa-2x mb-3 i-color"></i>
            <h3>ADVERTISING</h3>
            <p class="ss-color"> my name is mansi patel. i m from india. my age is 21 year. </p>
        </div>

     </div>


     
     <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pen fa-2x mb-3 i-color"></i>
            <h3>LOGO DESIGN</h3>
            <p class="ss-color"> my name is mansi patel. i m from india. my age is 21 year. </p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-bars fa-2x mb-3 i-color"></i>
            <h3>HOSTING</h3>
            <p class="ss-color"> my name is mansi patel. i m from india. 
            my age is 21 year. </p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h3>SUPPORT</h3>
            <p class="ss-color"> my name is mansi patel. i m from india. my age is 21 year. </p>
        </div>

     </div>


    


  

</div>




{% endblock content %}
